.group-card {
    width: 200px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 16px;
    background-color: white;
}

.group-card h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
