.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 5rem;
}

.header a {
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: #ccc;
}

.header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.logo {
    color: #ffffff;
}

.header-user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}