.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.searchbar-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 2rem;
}

.searchbar-inner input {
    flex: 1;
    height: 90%;
    border:none;
}

.searchbar-inner button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: rgb(23, 23, 23);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
}